<div class="modal-header">
  <h5 class="modal-title" *ngIf="action === 'create'; else editCustomerTitle">Create customer</h5>
  <ng-template #editCustomerTitle>
    <h5 class="modal-title">Edit customer</h5>
  </ng-template>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<form class="modal-body">
  <div class="row mb-md-3">
    <div class="col-md-6">
      <label for="name-input">Name</label>
      <input type="text" name="name" id="name-input" [(ngModel)]="customerService.customer.name" class="form-control"
             required [ngClass]="{'is-invalid': isInvalid}" [ngModelOptions]="{standalone: true}">
      <div class="invalid-feedback">
        Please put a name
      </div>
    </div>
    <div class="col-md-6">
      <label for="surname-input">Last name</label>
      <input type="text" name="name" id="surname-input" [(ngModel)]="customerService.customer.last_name"
             class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="phone-input">Phone</label>
      <input type="text" name="name" id="phone-input" [(ngModel)]="customerService.customer.phone" class="form-control"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-8">
      <label for="email-input">Email</label>
      <input type="text" name="name" id="email-input" [(ngModel)]="customerService.customer.email" class="form-control"
             [ngModelOptions]="{standalone: true}">
    </div>
  </div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges(action)">Save changes</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
