<div class="container d-flex flex-column">
  <div class="row mt-3">
    <button type="button" class="btn btn-primary col-md-3" (click)="createCustomer()">Add customer</button>
  </div>
  <div class="table-responsive" *ngIf="customers.length > 0; else noCustomersTitle">
    <table class="table table-striped mt-2">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.last_name}}</td>
        <td><a href="tel:{{customer.phone}}">{{customer.phone}}</a></td>
        <td><a href="mailto:{{customer.email}}">{{customer.email}}</a></td>
        <td>
          <div class="d-flex">
            <button class="btn btn-primary me-1" aria-hidden="true" (click)="editCustomer(customer.id!)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn btn-danger" aria-hidden="true" (click)="deleteCustomer(customer.id!)"><i class="fa-solid fa-times"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noCustomersTitle>
  <h2 class="text-center">No customers</h2>
</ng-template>
