<div class="container p-4">
  <h1 class="mx-auto text-center w-auto">Customer management page</h1>
  <p class="mx-auto mt-4 text-center mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
    dignissimos
    earum eos ipsum iste laborum nemo non,
    possimus, sequi totam unde vitae. Animi distinctio doloribus libero nemo neque nisi numquam?</p>

  <div class="row g-3">
    <div class="col-12 order-md-first order-1 col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class="card text-center">
        <img class="card-img-top"
             src="assets/images/statue.webp"
             alt="top image">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi,
            deserunt.</p>
        </div>
      </div>
    </div>

    <div class="col-12 order-first col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class="card text-center">
        <img class="card-img-top"
             src="assets/images/beach.webp"
             alt="top image">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi,
            deserunt.</p>
        </div>
      </div>
    </div>

    <div class="col-12 order-1 order-md-last col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class="card text-center">
        <img class="card-img-top"
             src="assets/images/mountain.webp"
             alt="top image">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi,
            deserunt.</p>
        </div>
      </div>
    </div>
  </div>
</div>
